@import url("./App.css");

body {
  background-color: var(--background-color);
  overflow: hidden;
}
.disabled-content {
  pointer-events: none; /* Απενεργοποιεί την αλληλεπίδραση με τα στοιχεία */
}
