.main__table {
  width: 100%;
  background-color: #fff5;
  color: black;

  overflow: scroll;
  margin: 0;
  box-shadow: 0 0.4rem 0.8rem rgb(27, 26, 26);
  border-radius: 5px;
}

.container__table {
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  outline: none;
}

tr:nth-of-type(even) {
  background-color: rgb(177, 172, 175);
}
th {
  color: black !important;
  padding: 5px;
  text-align: center;
}
tr {
  text-align: center;
}
tr:hover {
  cursor: pointer;
  background-color: rgb(122, 194, 28);
}
th:hover {
  cursor: pointer;
  /* background-color:white; */
}
td {
  padding: 10px;
}
.pagination__div {
  display: flex;
  gap: 10px;
  width: 100%;
  border: 1px solid red;
  justify-content: center;
  align-items: center;

  button {
    width: 5%;

    border-radius: 5px;
    /* background-color: blueviolet; */
    color: black;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
  }
  button:hover {
    cursor: pointer;
  }
}
