@import url("../../CSS/variables.css");

.container__sidebar {
  position: fixed;
  top: 10vh;
  left: 0px;
  width: 2.7vw;

  height: 45vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;

  background-color: var(--primary-color);
  border-radius: 5px;
  z-index: 500;
  transition: width 0.5s ease;
}
.container__sidebar.expanded {
  width: 6.35vw;
}

.container__sidebar ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: fit-content;
  /* border: 1px solid green; */
  transition: all 0.3s;
  list-style-type: none;
  text-decoration: none;
}

.container__sidebar li {
  color: white;
  padding: 0 15% 0 0;
  margin: 0;
  display: flex;

  max-width: 15vw;

  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-color);
}
.container__sidebar li.selected {
  background-color: var(--third-color) !important ;
}

.svg__container {
  padding: 0;
  margin: 0;
  width: 100%;
}
.container__sidebar li:hover {
  color: var(--text-color);
  cursor: pointer;
  background-color: var(--third-color);
  transition: all 0.3s;
}

/* to be added */
.hamburger__sidebar {
  width: 50%;
  height: auto;
  padding: 0;
  display: block;
  border: 1px solid red;

  cursor: default;

  svg {
    cursor: pointer;
    color: white;
  }
  svg:hover {
    border-radius: 5px;
    border: none;
  }
}
